.form-wrapper {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    border-radius: 5px ;

    /* This bit draws the box around it */
    border:1px solid grey;
    padding:2px;
}

.form-wrapper input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    border: none;
}

#form-btn {
    /* Just a little styling to make it pretty */
    border:1px solid #0eae9b;
    background: #0eae9b;
    color:white;
}