.card-price {
  position: absolute;
  left: 0;
  top: 10px;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
  background-color: rgba(00, 0, 0, 0.5);
}

.card-img-wrapper img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}

.content {
  padding: 17px 10px 9px;
}

.card-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
}

.card-address {
  border-bottom: 1px solid #d6d5d5;
  margin-bottom: 15px;
  color: #ffffff;
  padding: 0 0 10px;
  font-size: 13px;
  line-height: 23px;
}

.characteristics ul li:first-child {
  text-align: left;
}

.characteristics ul li {
  float: left;
  width: 33%;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.characteristics ul {
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
  margin-left: 0;
}

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

.property-link {
  padding: 15px;
  font-size: 18px;
  display: block;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0eae9b;
  border: none;
}

.property-link:hover {
  background-color: #00aa9f;
}

.fa-map-marker-alt {
  margin-right: 5px;
}

.fa-arrows-alt {
  margin-right: 5px;
}

.fa-bed {
  margin-right: 5px;
}

.fa-bath {
  margin-right: 5px;
}
.card-wrapper {
  padding: 3px;
  background-color: #202020;
  margin-bottom: 20px;
  max-height: 600px;
}
