.local-home-wrapper {
  background-color: #202020;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-dissapear {
  display: none;
}

.slide-left {
  transform: translateX(-350px);
}

.local-inner {
  padding-top: 7px;
}
