.next-icon{
    background-color: black !important;
    border-radius: 100% !important;
    margin-left: 100px !important;
    width: 25px;
    height: 25px;
    background-size: 70% 70% !important;

}

.prev-icon{
    background-color: black !important;
    border-radius: 100% !important;
    margin-right: 100px !important;
    width: 25px;
    height: 25px;
    background-size: 70% 70% !important;
    
}
.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 100% !important;
    background-color: rgba(0, 0, 0, 0.411);
}

.carousel-indicators .active {
    background-color: #0eae9b;
}

.fa-angle-right, .fa-angle-left{
    border-radius: 100% !important;
    width: 35px !important;
    height: 35px !important;
    background-color: #000;
    background-size: 70% 70% !important;
    font-size: 35pt;
    color: #0eae9b;
}

.fa-angle-left{
    margin-right: 50% !important;
}
.fa-angle-right{
    margin-left: 50% !important;
}

.carousel-item.active {
    display:block !important;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .75 !important;
}

@media screen and (max-width: 935px)  {
    .carousel{

    }
    
    .slide-image{
        width: 100%;
        position: relative;
    }
    
    .slide-div{
        height: 500px !important;
        width: 100% !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center !important;
    }
    

}

@media screen and (max-width: 767px)  {

}