.radio-wrapper {
  display: inline-block;
}

.radio-wrapper input {
  display: inline;
  width: auto;
  padding-left: 20px !important;
}

.radio-wrapper label {
  display: inline-block !important;
  margin-left: 15px;
  color: white;
}

.map__dropdown {
  z-index: 1;
  position: absolute;
  background-color: #202020;
  width: 200px;
}

.map__btn {
  background-color: #0eae9b;
  color: white !important;
  width: 200px;
}

/* .radio-wrapper input {
  margin-left: 10px;
} */

/* .map__dropdown {
    display: none;
  } */
