.main-color {
    background-color: #0eae9b;
}

.top {
    background-color: #ececec;
    color: #000000;
    padding: 25px;
    height: 30px;
}

.bottom {
    background-color: #0eae9b;
    max-height: 150px;
}
.nav {
    padding: 6px;
}

.bottom ul li a {
    color: white;
}

.bottom ul li a:hover {
    background-color: black !important;
}

.tabLine {
    float: left;
    margin-left: 20%;
}

.phoneNum {
    float: right;
    margin-right: 10%;
}

.logo-img {
    position: relative;
    z-index: 99;
    display: block;
}

.logo {
    position: absolute;
    height: 200px;
    width: 200px;
    margin-right: 50px;
    margin-left: 10%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}