.main-color {
    background-color: #0eae9b;
}
.main-color-txt {
    color: #0eae9b;
}

.top {
    background-color: #ececec;
    color: #000000;
    padding: 25px;
}

.bottom {
    background-color: #0eae9b;
}
.nav {
    padding: 6px;
}

.bottom ul li a {
    color: white;
}

.bottom ul li a:hover {
    background-color: black !important;
}

.address-header {
    padding-left: 3%;
}

.phone {
    font-size: 22px;
}


.logo-img {
    position: relative;
    z-index: 99;
    display: inline-block;
}

.logo {
    position: absolute;
    bottom: 0;
    left: 15%;
}




